### DB연동 파이썬 프로그램

#### 환경
- MySQL 9.2.0
- Python 3.11.9
    - MySQL 모듈 - PyMySQL

In [ ]:
# pymysql 모듈 설치
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ---------------------------------------- 45.0/45.0 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

#### 모듈 불러오기

In [2]:
import pymysql

#### DB접속 변수 초기화

In [3]:
host = 'localhost' # or '127.0.0.1'
port = 3306
database = 'madang'
username = 'root'
password = '12345'

conflag = True # 접속상태 확인

#### DB접속 수행

In [4]:
try:
    print("DB연결 준비...")
    # 연결객체 conn 생성
    conn = pymysql.connect(host = host, user = username, passwd = password, port = port, db= database)
    print("DB연결 성공!")
except Exception as e:
    print(f'DB연결 실패! {e}')
    counflag = False

DB연결 준비...
DB연결 실패! (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] 대상 컴퓨터에서 연결을 거부했으므로 연결하지 못했습니다)")

#### 데이터 가져오기

In [ ]:
if conflag:
    cursor = conn.cursor()   # 커서 생성(MySQL의 커서와 동일한 기능)
    # 프로그래밍언어에서 쿼리문을 사용할 시 ;은 제거 ''' 여러줄 문자열로 Workbench랑 동일하게 사용할 수 있음.
    query = '''SELECT bookid
                    , bookname
                    , publisher
                    , price 
                FROM Book'''
    res = cursor.execute(query)   # SQL 실행(1회 호출)
    data = cursor.fetchall()        # MySQL 데이터를 한번에 다 가져옴

    # 화면에 출력
    print(f'BookNo\tBookName\t\tPublisher\tPrice')
    for rowdata in data:
        print(f'{rowdata[0]}\t{rowdata[1]}\t\t{rowdata[2]}\t{rowdata[3]}')
    
    cursor.close()

BookNo	BookName		Publisher	Price
1	축구의 역사		굿스포츠	7000
2	축구아는 여자		나무수	13000
3	축구의 이해		대한미디어	22000
4	골프 바이블		대한미디어	35000
5	피겨 교본		굿스포츠	8000
6	역도 단계별기술		굿스포츠	6000
7	야구의 추억		이상미디어	20000
8	야구를 부탁해		이상미디어	13000
9	올림픽 이야기		삼성당	7500
10	Olympic Champions		Pearson	13000
11	스포츠 의학		한솔의학서적	90000
12	스타워즈 아트북		디즈니	1500000
13	기타교본 1		지미 핸드릭스	12000
14	스포츠 의학		Pearson	12000
21	Zen Golf		Pearson	12000
22	Soccer Skills		Human Kinetics	15000
40	블레이드러너		이상미디어	25000

#### DB연결 종료

In [24]:
conn.close() # 반드시!